.contact-form-container {
  text-align: center;
  margin: 50px auto;
  max-width: 700px;
  color: white;
}

body {
  background-color: #7a92a6;
}

.contact-form-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-form {
  margin-top: 20px;
}

.input-container {
  margin-bottom: 20px;
  text-align: left;
}

.input-container label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-container input[type="text"],
.input-container input[type="email"],
.input-container textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: black; /* Dodato: Boja teksta unutar input i textarea polja */
  background-color: white; /* Dodato: Pozadina input i textarea polja */
}

.input-container input[type="text"]::placeholder,
.input-container input[type="email"]::placeholder,
.input-container textarea::placeholder {
  color: #888; /* Dodato: Boja placeholder teksta */
}

.input-container textarea {
  height: 150px;
}

.submit-button {
  background-color: #173753;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.submit-button:hover {
  background-color: orange;
}

.alert {
  margin-top: 20px;
  padding: 10px;
  background-color: #f2dede;
  color: #a94442;
  border-radius: 5px;
}
